.navbar-container{
    display: flex;
    flex-direction: column wrap;
    justify-content: space-between;
    margin-top: 2em;

}

.logo > span{
    font-size: 2em;
    font-weight: bold;
}
.logo > span:nth-child(1){
    color: #e76f51
}
.logo > span:nth-child(2){
    color: #264653
}