.signup-form{
    margin: 7em 0 4em 0;
}

.signup-form input{
    margin: 20px;
    background-color:  transparent;
    color: #fff;
    border-radius: 5%;
    border-style: solid;
    border-width: .1em;
    border-color: #fff;
    width: 80%;
    height: 60px;
}

.signup-form input::placeholder{
    color: #fff;
}

@media screen and (max-width: 480px) {
    .signup-form{
        margin: 2em 0 2em 0;
    }
}