.signin-form{
    margin: 5em 0 4em 0;
}

.signin-form input{
    margin: 20px;
    background-color:  transparent;
    color: #fff;
    border-radius: 15em;
    border-style: solid;
    border-width: .1em;
    border-color: #fff;
    width: 80%;
    height: 60px;
}
.signin-form input::placeholder{
    color: #fff;
    font-size: .8em;
}

.signin-form button{
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .signin-form{
        margin: 12em 0 2em 0;
        position: relative;
        right: 1em;
    }
}