.signup-form{
    margin: 3em 0 1em 0;
}

.signup-form input{
    margin: 20px;
    background-color:  transparent;
    color: #fff;
    border-radius: 15em;
    border-style: solid;
    border-width: .01em;
    border-color: #fff;
    width: 80%;
    height: 60px;
}

.signup-form button{
    margin-bottom: 20px;
}

.signup-form input::placeholder{
    color: #fff;
    font-size: .8em;
    
}

@media screen and (max-width: 480px) {
    .signup-form{
        margin: 2em 0 2em 0;
        position: relative;
        right: 1em;
    }
}