button {
    background-color: #2a9d8f;
    border-color: #2a9d8f;
    border-radius: 15em;
    padding: 0.9em;
    margin: 0 .8em 0 .8em;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #fff;
}

button:hover{
    background-color: transparent;
    color: #000;
    
    
}